body {
 color:000000;
 text-align: center;
}

div {
 position: relative;
 border: 1px solid #939393; 
 margin-top:50px;
}

a:link
{
    color:#000000;
}

a:visited
{
    color:#000000;
}

a:hover 
{
    color:#000000;
}

.high {
 background: #C0C0C0;
 width: 300px;
 height: 20px;
 display: inline-block;
 margin: 10px;
 padding: 30px;
}